/*Navbar*/
.navbar{
    position: fixed; /* Set the navbar to fixed position */
    width: 100%; /* Full width */
    background-color: none;
    z-index: 1000;
    justify-content: center;
}
.nav-link{
    color: black;
}

/*For Text*/
.text{
    font-size: 2.5ex;
}
h3{
    color: #00CCCC;
}

/*Header*/
header{
    position: relative;
    text-align: center;
    background-image: url("img/");
    justify-content: center;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
    background-color: grey;
    height: 800px;
    min-height: 500px;
    width: 100%;
    overflow: hidden;
}
header .social {
    margin: 24px 0;
    padding: 0;
    font-size: 35px;
}
header .social li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    padding: 0;
}
header .social li a { 
    color: #fff; 
}
header .social li a:hover { 
    color: #00CCCC; 
}
header .banner-text{
    padding-top: 20%;
}

/*About Section*/
#about-section{
    background-color: black;
    color: white;
    text-align: center;
    height: 650px;
    min-height: 600px;
}
section h3{
    padding-bottom: 2%;
    padding-top: 2%;
}
section #about img{
    height: 400px;
    width: 270px;
}

/*Resume Section*/
#resume-section{
    text-align: center;
}
section #resume button{
    color: white;
}
