/*For Text*/
h1{
    letter-spacing: 2px;
    font-size: 5em;
}
.font{
    font-family: 'Roboto', sans-serif;
}
.text{
    font-size: 2.5ex;
}
h2{
    text-align: center;
    color: #00CCCC;
}
.bolded { 
    font-weight: bold;
}
h5{
    letter-spacing: 2px;
}
h2{
    letter-spacing: 2px;
}

/*Navbar*/
.navbar{
    position: fixed; 
    width: 100%;
    z-index: 1000;
    justify-content: center;
    background-color: black;
}
.nav-link{
    color: white;
}
.col-lg-4 {
    margin-left: 3% !important;
}

/*Header*/
header{
    position: relative;
    text-align: center;
    background-image: url("img/home_section.jpg");
    background-position: center;
    background-size: cover !important;
    background-repeat: none;
    text-shadow: 1px 1px 2px black;
    height: 900px;
    min-height: 600px;
    width: 100%;
    overflow: hidden;
}
header .home{
    padding-top: 20%;
}

/*About Section*/
#about{
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 1.3em;
    margin-left:8%;
    margin-right:8%;
}
#about-section{
    background-color: black;
    color: white;
    text-align: center;
    height: 800px;
    min-height: 750px;
}
section h2{
    padding-bottom: 2%;
    padding-top: 2%;
}
section #about img{
    height: 400px;
    width: 270px;
    padding-bottom: 1%;
}

/*Resume Section*/
#resume-section{
    text-align: center;
    padding-bottom: 3%;
}
section #resume button{
    color: white;
}

#resume-section li{
    list-style: none;
    margin: 0 15px;
    padding-top: 2px;
}

#class-list{
    display: flex;
    flex-direction: column;
}

#learned{
    padding-top: 2%;
    display: flex;
    justify-content: center;
}

/*Activities Section*/
#activities-section{
    background-color: white;
    color: black;
}

/*For footer*/
footer{
    padding-top: 3%;
    background-color: white;
    color: black;
    text-align: center;
}
footer p{
    padding-left: 20%;
    padding-right: 20%;
}
#socials li{
    list-style: none;
    padding: 0;
    margin-right: 2%;
    color: #fff;
    font-size: 3em;
}
#socials li a:hover { 
    color: #00CCCC; 
}

#socials ul{
    display: flex;
    justify-content: center;
    padding-bottom: 3%;
}